.back-arrow:hover {
  animation: button-color-change 0.25s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.configuration {
  margin-top: 2vh;
}

.spinner-border {
  width: 6rem;
  height: 6rem;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .quiz {
    width: 75%;
  }
}

@keyframes button-color-change {
  0% {
    color: #212529;
  }

  100% {
    color: #8438ff;
  }

}
