# This example environment file is for installations that use standard Docker containers, and will be supplying their own database credentials

NODE_ENV=production

# Required if using compose
# Password to provide for internal database
DATABASE_PASSWORD=

# Complete connection URI to MariaDB
DATABASE_URL=

# Random secret used to validate tokens
JWT_SECRET=

# Port to expose Scholarsome on
HTTP_PORT=

# Redis server details
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=


# ---
# Everything past this line is optional
# ---


# Self-explanatory SMTP fields
# Necessary for emails to be sent - otherwise, users are verified by default
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# Domain to use in emails - do not include http
HOST=

# SSL key and cert encoded as base64
SSL_KEY_BASE64=
SSL_CERT_BASE64=

# Recaptcha site key and secret key
SCHOLARSOME_RECAPTCHA_SITE=
SCHOLARSOME_RECAPTCHA_SECRET=

# Additional scripts to be placed on the head of every page encoded in base64
SCHOLARSOME_HEAD_SCRIPTS_BASE64=
