.spinner-border {
  width: 6rem;
  height: 6rem;
}

.new-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-light:hover {
  border-color: #8438ff !important;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .set-view {
    width: 100%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .set-view {
    width: 75%;
  }
}
