.loading-spinner {
  width: 6rem;
  height: 6rem;
}

.new-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-light:hover {
  border-color: #8438ff !important;
}

.dropdown-item {
  cursor: pointer;
}

.share-dropdown {
  min-width: 20vw;
}

.csv-dropdown {
  margin-left: 0.1rem;
}

.csv-dropdown-text {
  margin: 0.44rem;
}

.cursor-text {
  cursor: text;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .set-view {
    width: 100%;
  }

  .share-dropdown {
    min-width: 90vw;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .set-view {
    width: 75%;
  }
}
