<div class="navbar-spacing"></div>

<div class="d-flex justify-content-center mt-5" #spinner>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container-fluid set-view overflow-hidden" #container hidden>
  <div class="d-flex justify-content-center mt-2">
    <h1 *ngIf="set">{{this.set.title}}</h1>
  </div>
  <div class="d-flex justify-content-evenly">
    <div class="row-cols-sm-4 col-md-6 m-auto w-50">
      <a [routerLink]="['/study-set', setId, 'flashcards']"><button type="button" class="btn btn-lg btn-light bg-white w-100 my-2 shadow"><fa-icon [icon]="['far', 'clone']"></fa-icon> Flashcards</button></a>
      <button type="button" class="btn btn-lg btn-light bg-white w-100 shadow-sm" disabled><fa-icon [icon]="['far', 'comments']"></fa-icon> Study</button>
    </div>
    <div class="row mx-1"></div>
    <div class="row-cols-sm-4 col-md-6 m-auto w-50">
      <a [routerLink]="['/study-set', setId, 'quiz']"><button type="button" class="btn btn-lg btn-light bg-white w-100 my-2 shadow"><fa-icon [icon]="['far', 'pen-to-square']"></fa-icon> Quiz</button></a>
      <button type="button" class="btn btn-lg btn-light bg-white w-100 shadow-sm" disabled><fa-icon [icon]="['far', 'flag']"></fa-icon> Game</button>
    </div>
  </div>
  <div class="mt-4">
    <button type="button" class="btn btn-light bg-white shadow"><fa-icon [icon]="['far', 'user']"></fa-icon> Created by <span class="fw-bold">{{author}}</span></button>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <h5>{{this.cards.length}} term{{this.cards.length > 1 ? 's' : ''}} in this set</h5>
      <div>
        <button type="submit" class="btn btn-primary" [hidden]="isEditing || !userIsAuthor" (click)="editCards()">Edit</button>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary me-2" [hidden]="!isEditing" (click)="saveCards()">Save</button>
          <button type="submit" class="btn btn-secondary" [hidden]="!isEditing" (click)="viewCards()">Cancel</button>
        </div>
      </div>
    </div>
    <div>
      <div #cardsContainer></div>
      <div class="container-fluid" [hidden]="!isEditing">
        <div class="row">
          <div class="card my-3 bg-white">
            <div class="card-body d-flex justify-content-center mt-2 fs-4 new-card" (click)="addCard({ editingEnabled: true })">
              <p><fa-icon [icon]="['far', 'plus-square']" class="pe-1"></fa-icon>Add new card</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
