.card-button {
  cursor: pointer;
  font-size: 18px;
}

.edit-text {
  cursor: pointer;
}

.card-button:hover {
  animation: button-color-change 0.25s;
  animation-fill-mode: forwards;
}

@keyframes button-color-change {
  0% {
    color: #212529;
  }

  100% {
    color: #8438ff;
  }
}

.scholarsome-card {
  min-width: 50vw;
}
