<ng-template #modal>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Set a new password</h4>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submit(setPasswordForm)" #setPasswordForm="ngForm" ngNativeValidate>
      <div class="form-text mb-3">Enter a new password for your account</div>
      <div class="mb-3">
        <label for="set-password" class="form-label">New password</label>
        <input type="password" class="form-control" id="set-password" name="password" ngModel required>
        <div *ngIf="notMatching" class="form-text text-danger">Your passwords do not match.</div>
      </div>
      <div class="mb-3">
        <label for="confirm-set-password" class="form-label">Confirm new password</label>
        <input type="password" class="form-control" id="confirm-set-password" name="confirmPassword" ngModel required>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="clicked">Set new password</button>
      </div>
    </form>
  </div>
</ng-template>
