.spinner-border {
  width: 6rem;
  height: 6rem;
}

.shuffle:hover {
  animation: button-color-change 0.25s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.flashcard {
  min-height: 65vh;
  cursor: pointer;
}

.flashcard.flip {
  animation: flip_card_body 0.5s;
  animation-fill-mode: forwards;
}

.flashcard.flip > .card-body {
  animation: flip-card_text 0s;
  animation-fill-mode: forwards;
}

.back-arrow:hover {
  animation: button-color-change 0.25s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes flip-card_text {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(180deg);
  }
}

@keyframes flip_card_body {
  0% {
    transform: rotateX(0deg);
    background-color: white;
  }

  100% {
    transform: rotateX(180deg);
    background-color: #f6f7fb;
  }
}

@keyframes button-color-change {
  0% {
    color: #212529;
  }

  100% {
    color: #8438ff;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .container {
    margin-top: 5vh;
  }

  .flashcard {
    min-height: 65vh;
  }
}
