<div class="d-flex justify-content-center mt-5" #spinner>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-template #flashcardsConfig>
  <div class="shadow-sm">
    <div class="modal-header">
      <h5 class="modal-title">Flashcards configuration</h5>
    </div>
    <div class="modal-body">
      <form #configForm="ngForm" (ngSubmit)="beginFlashcards(configForm)" ngNativeValidate>
        <div class="mb-2">
          <label for="traditional-radio" class="form-label fs-5">Type</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flashcards-type" id="traditional-radio" value="traditional" ngModel required>
            <label class="form-check-label" for="traditional-radio">Traditional</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flashcards-type" id="progressive-radio" value="progressive" ngModel required>
            <label class="form-check-label" for="progressive-radio">Progressive</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="term-radio" class="form-label fs-5">Answer with</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer-with" id="term-radio" value="term" ngModel required>
            <label class="form-check-label" for="term-radio">Term</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="answer-with" id="definition-radio" value="definition" ngModel required>
            <label class="form-check-label" for="definition-radio">Definition</label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Begin quiz</button>
      </form>
    </div>
  </div>
</ng-template>

<ng-template #completedRound>
  <div class="shadow-sm">
    <div class="modal-body">
      <div class="container-fluid justify-content-around">
        <div class="row">
          <div class="col d-flex align-items-center justify-content-center">
            <fa-icon [icon]="cards.length > 0 ? faThumbsUp : faCake" class="display-1"></fa-icon>
          </div>
          <div class="col">
            <h1 class="me-4">Great job!</h1>
            <div *ngIf="cards.length > 0">
              <p>You learned <span class="fw-bold">{{newLearnedCards}} card(s)</span> in that round. Keep it up until you learn them all!</p>
              <button class="btn btn-primary" (click)="modalRef?.hide(); roundCompleted = false; newLearnedCards = 0">Continue</button>
            </div>
            <div *ngIf="cards.length === 0">
              <p>You learned all of the cards in this set. Now - do it again!</p>
              <button *ngIf="cards.length === 0" class="btn btn-primary" (click)="window.location.reload()">Start over</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="container" *ngIf="flashcardsMode && !roundCompleted" #container>
  <div class="row">
    <div class="flashcard card text-center shadow-sm" [ngClass]="{'flip-back': flipped && flipInteraction, 'flip-forwards': !flipped && flipInteraction}" #flashcard>
      <div class="card-body fs-1 d-flex align-items-center justify-content-center" onmousedown="return false" (click)="flipCard()">{{sideText}}</div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <div class="mt-2 d-flex justify-content-around" *ngIf="cards && flashcardsMode === 'traditional'">
          <button type="button" class="fs-4 w-25 btn btn-outline-secondary mb-3" (click)="changeCard(-1)" [disabled]="index === 0 ? true : null"><fa-icon [icon]="['far', 'arrow-alt-circle-left']"></fa-icon></button>
          <button type="button" class="fs-4 w-25 btn btn-outline-secondary mb-3" (click)="changeCard(1)" [disabled]="cards.length === index + 1 ? true : null"><fa-icon [icon]="['far', 'arrow-alt-circle-right']"></fa-icon></button>
        </div>
        <div class="mt-2 d-flex justify-content-around" *ngIf="cards && flashcardsMode !== 'traditional'">
          <button type="button" class="fs-4 w-25 btn btn-outline-warning mb-3 fw-bold" (click)="changeCard(1)">Don't know</button>
          <button type="button" class="fs-4 w-25 btn btn-outline-success mb-3 fw-bold" (click)="incrementLearntCount(); knownCardIndices.push(index); changeCard(1);">Know</button>
        </div>
        <div class="mx-2 d-flex justify-content-between">
          <p class="text-secondary side text-capitalize">{{side}}</p>
          <fa-icon class="fs-4 mb-2 text-secondary shuffle" (click)="this.shuffleCards()" [style.color]="shufflingEnabled ? '#8438ff !important' : '#6c757d !important'" [icon]="faShuffle"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex container-fluid justify-content-between w-100 bg-white fixed-bottom shadow align-items-center controlbar" #controlbar>
  <fa-icon class="fs-2 back-arrow" *ngIf="flashcardsMode" (click)="window.location.reload()" [icon]="['far', 'arrow-alt-circle-left']"></fa-icon>
  <div class="fs-3" *ngIf="flashcardsMode && !roundCompleted">{{remainingCards}}</div>
  <fa-icon class="fs-2 back-arrow" *ngIf="!flashcardsMode" [routerLink]="['/study-set', setId]" [icon]="['far', 'arrow-alt-circle-left']"></fa-icon>
</div>
