<form [formGroup]="createFolderForm" [hidden]="loading" (ngSubmit)="submit()">
  <div class="py-4 mx-md-5 mx-2">
    <div class="d-flex justify-content-between text-nowrap">
      <h1>
        <fa-icon [icon]="faFolderPlus"></fa-icon>
        Créer un dossier
      </h1>
      <div>
        <a href="/handbook/usage/folders/creating-folders" target="_blank" class="text-decoration-none help-button">
          <fa-icon [icon]="faQuestionCircle" class="fs-5 me-2"></fa-icon>
        </a>
        <button type="submit" class="btn btn-primary" [disabled]="submitted">
          <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Créer
        </button>
      </div>
    </div>

    <div class="container-fluid p-0 mt-3">
      <div class="row">
        <div class="col">
          <div class="my-3">
            <input type="text" class="form-control" placeholder="Entrez un titre pour votre dossier..." maxlength="255" formControlName="name" required>
            <div
              class="form-text text-danger"
              *ngIf="
              !createFolderForm.controls.name.valid &&
              !createFolderForm.disabled &&
              (createFolderForm.controls.name.dirty || createFolderForm.controls.name.touched || submitted)"
            >Vous devez fournir un titre pour votre dossier.</div>
            <div
              class="form-text text-danger"
              *ngIf="createFolderForm.errors?.['httpError']"
            >Une erreur est survenue. Veuillez réessayer.</div>
          </div>
          <div class="mb-3">
            <textarea class="form-control" placeholder="Ajouter une description..." formControlName="description"></textarea>
          </div>
          <div class="mb-3 d-flex align-items-center">
            <input type="color" class="bg-white border-0 shadow-sm" id="colorPicker" formControlName="color">
            <label for="colorPicker" class="ms-2 form-label pt-2">Choisir une couleur pour le dossier</label>
          </div>
          <div class="mb-2 form-check">
            <input type="checkbox" class="form-check-input" id="privateCheck" formControlName="private">
            <label class="form-check-label" for="privateCheck">Visible uniquement par moi</label>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div>
      <h2>
        <fa-icon class="fs-3" [icon]="faArrowUp"></fa-icon>
        Dossier parent
      </h2>
      <p>Sélectionnez le dossier dans lequel ce dossier doit être placé.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-4 pt-2" *ngIf="folders">
      <p class="text-secondary" *ngIf="folders.length === 0">Vous n'avez actuellement aucun dossier.</p>
      <div class="col-md-3 col-12" *ngFor="let folder of folders; let i = index;">
        <div class="card shadow-sm" role="button" (click)="toggleParentFolderSelection(folder.id)">
          <div class="card-body d-flex justify-content-between align-items-center fs-5">
            <div class="fw-semibold card-name">{{ folder.name }}</div>
            <input class="form-check-input ms-2 rounded-circle" type="checkbox" value="" [disabled]="createFolderForm.disabled" [checked]="this.createFolderForm.controls.parentFolderId.value === folder.id">
          </div>
          <div class="card-footer mt-auto" [ngStyle]="{'background-color': folder.color}"></div>
        </div>
      </div>
    </div>

    <hr>
    <div>
      <h2>
        <fa-icon class="fs-3" [icon]="faFolderTree"></fa-icon>
        Sous-dossiers
      </h2>
      <p>Sélectionnez les dossiers qui doivent être placés dans ce dossier.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-4 pt-2" *ngIf="folders">
      <p class="text-secondary" *ngIf="folders.length === 0">Vous n'avez actuellement aucun dossier.</p>
      <div class="col-md-3 col-12" *ngFor="let folder of folders; let i = index;">
        <div class="card shadow-sm" role="button" (click)="toggleSubfolderSelection(folder.id)">
          <div class="card-body d-flex justify-content-between align-items-center fs-5">
            <div class="fw-semibold card-name">{{ folder.name }}</div>
            <input class="form-check-input ms-2" type="checkbox" value="" [disabled]="createFolderForm.disabled" [checked]="isSubfolderSelected(folder.id)">
          </div>
          <div class="card-footer mt-auto" [ngStyle]="{'background-color': folder.color}"></div>
        </div>
      </div>
    </div>

    <hr>
    <div>
      <h2>
        <fa-icon class="fs-3" [icon]="faClone"></fa-icon>
        Sets
      </h2>
      <p>Sélectionnez les sets qui doivent être placés dans ce dossier.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 pb-4 pt-2" *ngIf="sets">
      <p class="text-secondary" *ngIf="sets.length === 0">Vous n'avez actuellement aucun set.</p>
      <div class="col-md-3 col-12" *ngFor="let set of sets; let i = index;">
        <div class="card shadow-sm" role="button" (click)="toggleSetSelection(set.id)">
          <div class="card-body d-flex justify-content-between align-items-center fs-5">
            <div class="fw-semibold card-name">
              {{ set.title }}
              <fa-icon *ngIf="set.private" [icon]="['far', 'eye-slash']"></fa-icon>
            </div>
            <input class="form-check-input ms-2" type="checkbox" value="" [disabled]="createFolderForm.disabled" [checked]="isSetSelected(set.id)">
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="submitted">
        <span *ngIf="submitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Créer
      </button>
    </div>
  </div>
</form>

<div class="d-flex justify-content-center mt-5" #spinner>
  <div class="loading-spinner spinner-border text-primary" role="status">
    <span class="visually-hidden">Chargement...</span>
  </div>
</div>
