<div class="card my-3 bg-light">
  <div class="card-body">
    <div class="card-header bg-light mb-2">
      <div class="d-flex justify-content-between">
        <span>{{cardIndex}}.</span>
        <div>
          <fa-icon *ngIf="cardIndex !== 1" [icon]="['far', 'arrow-alt-circle-up']" class="mx-3 card-button" popover="Move this card up one" triggers="mouseenter:mouseleave" (click)="moveCard(-1)"></fa-icon>
          <fa-icon [icon]="['far', 'arrow-alt-circle-down']" class="mx-3 card-button" popover="Move this card down one" triggers="mouseenter:mouseleave" (click)="moveCard(1)"></fa-icon>
          <fa-icon [icon]="['far', 'trash-can']" class="ms-3 card-button" popover="Delete this card" triggers="mouseenter:mouseleave" (click)="deleteCard()"></fa-icon>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg">
          <label for="term" class="form-label">Term</label>
          <input type="email" class="form-control" id="term">
        </div>
        <div class="col-lg">
          <label for="definition" class="form-label">Definition</label>
          <input type="email" class="form-control" id="definition">
        </div>
      </div>
    </div>
  </div>
</div>
