<form class="py-3" (ngSubmit)="submit(form)" #form="ngForm" ngNativeValidate>
  <div class="mb-3">
    <label for="existingPassword" class="form-label">Existing Password</label>
    <input type="password" class="form-control" name="existingPassword" id="existingPassword" ngModel required>
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" name="newPassword" id="newPassword" ngModel required>
  </div>
  <div class="mb-3">
    <label for="confirmNewPassword" class="form-label">Confirm New Password</label>
    <input type="password" class="form-control" name="confirmNewPassword" id="confirmNewPassword" aria-describedby="emailHelp" ngModel required>
    <div *ngIf="error" class="form-text text-danger">Something went wrong. Try again, or look at the developer console for more information.</div>
    <div *ngIf="invalidPassword" class="form-text text-danger">Your existing password is incorrect.</div>
    <div *ngIf="notMatching" class="form-text text-danger">Your passwords do not match.</div>
    <div *ngIf="rateLimit" class="form-text text-danger">You are being rate limited.</div>
    <div *ngIf="success" class="form-text text-success">Your password has been successfully changed.</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="clicked">
    <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Change password
  </button>
</form>
