<div class="d-flex d-flex mt-3 shadow rounded quiz-question align-items-center">
  <p class="text-secondary fs-5 ms-4 mt-3">#{{questionNumber}}<br><span class="fs-6">{{termOrDefinition}}</span></p>
  <div class="mx-4 container-fluid mt-3 mb-4">
    <p class="fs-1 text-center">{{question}}</p>
    <div class="quiz-question-written" hidden>
      <input type="email" class="form-control shadow-sm fs-4" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="quiz-question-selection text-center" [hidden]="!questionOptions">
      <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
      <label class="btn btn-outline-primary mx-1 my-1" for="option2">This is a very big and extended question</label>
      <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
      <label class="btn btn-outline-primary mx-1 my-1" for="option4">This is an even larger and more written out question with a lot of information for people to interpret</label>
      <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
      <label class="btn btn-outline-primary mx-1 my-1" for="option3">This is an even larger and more written out question with a lot of information for people to interpret</label>
      <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
      <label class="btn btn-outline-primary mx-1 my-1" for="option1">This is an even larger and more written out question with a lot of information for people to interpret</label>
    </div>
  </div>
</div>
