<div class="card my-3 bg-white">
  <div class="card-body">
    <div class="card-header bg-white mb-2">
      <div class="d-flex justify-content-between">
        <span>{{cardIndex + 1}}.</span>
        <div>
          <fa-icon *ngIf="upArrow" [icon]="['far', 'arrow-alt-circle-up']" class="mx-3 card-button" (click)="moveCard(-1)"></fa-icon>
          <fa-icon *ngIf="downArrow" [icon]="['far', 'arrow-alt-circle-down']" class="mx-3 card-button" (click)="moveCard(1)"></fa-icon>
          <fa-icon [icon]="['far', 'trash-can']" class="ms-3 card-button" (click)="deleteCard()"></fa-icon>
        </div>
      </div>
    </div>
    <div class="container-fluid" #inputsContainer>
      <div class="row">
        <div class="col-lg">
          <label for="term" class="form-label">Term</label>
          <input type="email" class="form-control" id="term" [value]="termValue ? termValue : ''" #term>
        </div>
        <div class="col-lg">
          <label for="definition" class="form-label">Definition</label>
          <input type="email" class="form-control" id="definition" [value]="definitionValue ? definitionValue : ''" #definition>
        </div>
      </div>
    </div>
  </div>
</div>
