@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../../../node_modules/bootstrap/scss/functions.scss';
@import '../../../node_modules/bootstrap/scss/variables.scss';

$primary: #8438ff;
$theme-colors: map-merge($theme-colors, (
  "primary": #8438ff
));

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: white;
}

.grecaptcha-badge {
  visibility: hidden;
}
