<fieldset [disabled]="formDisabled">
  <div class="py-4">
    <div class="create-header d-flex justify-content-between text-nowrap">
      <h2>
        Create a new study set
        <a href="/handbook/usage/creating-sets#creating-manually" target="_blank" class="text-decoration-none help-button"><fa-icon [icon]="faQuestionCircle" class="fs-5"></fa-icon></a>
      </h2>
      <button type="submit" class="btn btn-primary" (click)="createSet()">
        <span [hidden]="!formDisabled" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Create
      </button>
    </div>
    <div class="create-header">
      <p class="text-secondary">Your progress will be saved, even if you reload or close the browser.</p>
    </div>
    <div class="container-fluid mt-3">
      <div class="row mx-md-4">
        <div class="col">
          <div *ngIf="errorEncountered" class="alert alert-danger" role="alert">
            There was an error encountered while creating your study set. Your progress has not been lost. Open your browser's development console to save the error information and <a href="https://github.com/hwgilbert16/scholarsome/issues">open an issue</a> for assistance.
          </div>
          <div class="my-3">
            <input type="text" class="form-control" placeholder="Enter a title for your study set..." maxlength="255" (change)="saveProgress()" [(ngModel)]="title" #titleElement>
          </div>
          <div class="mb-3">
            <textarea class="form-control" placeholder="Add a description..." (change)="saveProgress()" [(ngModel)]="description" #descriptionElement></textarea>
          </div>
          <div class="mb-2 form-check">
            <input type="checkbox" class="form-check-input" id="privateCheck" (change)="saveProgress()" [(ngModel)]="privateCheck">
            <label class="form-check-label" for="privateCheck">Viewable only to me</label>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="container-fluid">
      <div class="row mx-4">
        <div class="card my-3 bg-white">
          <div class="card-body d-flex justify-content-center mt-2 fs-4 new-card" (click)="addCard()">
            <p><fa-icon [icon]="['far', 'plus-square']" class="pe-1"></fa-icon>Add new card</p>
          </div>
        </div>
      </div>
      <div class="row mx-3">
        <ng-template #cardContainer></ng-template>
      </div>
      <div class="row mx-4">
        <div class="card my-3 bg-white">
          <div class="card-body d-flex justify-content-center mt-2 fs-4 new-card" (click)="addCard()">
            <p><fa-icon [icon]="['far', 'plus-square']" class="pe-1"></fa-icon>Add new card</p>
          </div>
        </div>
      </div>
    </div>
    <div class="create-header d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="formDisabled" (click)="createSet()">
        <span [hidden]="!formDisabled" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Create
      </button>
    </div>
  </div>

</fieldset>

<ng-template #restoreProgressModal>
  <div class="modal-body">
    <div class="fs-2 mb-3 fw-semibold">Do you want to restore your progress?</div>

    <div class="alert alert-danger" role="alert">
      By clicking no, the set you were previously creating, but had not yet created, will be deleted.
    </div>

    <div class="mb-3 d-flex justify-content-between">
      <button type="button" class="btn btn-success" (click)="modalRef?.hide(); restoreProgress()">Yes, restore</button>
      <button type="button" class="btn btn-danger" (click)="modalRef?.hide(); deleteProgress()">No, start over</button>
    </div>
  </div>
</ng-template>
