<ng-template #modal>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Forgot password</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submit(forgotForm)" #forgotForm="ngForm" ngNativeValidate>
      <div class="form-text mb-3">Enter your email address to send a password reset</div>
      <div class="mb-3">
        <label for="forgot-email" class="form-label">Email address</label>
        <input [disabled]="clicked" type="email" class="form-control" id="forgot-email" name="email" ngModel required>
        <div *ngIf="response === ApiResponseOptions.Success" class="form-text text-success">If that email exists, we've sent a reset message.</div>
        <div *ngIf="response === ApiResponseOptions.Fail" class="form-text text-success">Something went wrong.</div>
        <div *ngIf="response === ApiResponseOptions.Ratelimit" class="form-text text-success">You are being rate limited.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="clicked">Send password reset</button>
      </div>
    </form>
  </div>
</ng-template>
