<div class="container fixed-bottom footer bg-white">
  <footer class="py-3 mt-4 border-top">
<!--    <div class="d-flex justify-content-between">-->
<!--      <span></span>-->
<!--      <span class="text-muted">Made with ❤ in Pennsylvania</span>-->
<!--      <span><a class="text-muted" href="https://github.com/hwgilbert16"><fa-icon [icon]="faGithub"></fa-icon></a></span>-->
<!--    </div>-->

    <div class="d-flex justify-content-center">
      <span class="text-muted">Made with ❤ in Pennsylvania</span>
    </div>

<!--    <div class="row col-4 d-flex justify-content-center">-->
<!--      <span class="text-center text-muted">Made with ❤ in Pennsylvania</span>-->
<!--    </div>-->
  </footer>
</div>
