<ng-template #modal>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left" *ngIf="publicAppEnv">
      Se connecter
    </h4>
    <div class="modal-title w-100 text-center" *ngIf="!publicAppEnv">
      <img
        class="navbar-brand img-fluid mt-1"
        src="assets/header/scholarsome-logo-purple-lowercase.svg"
        alt="Scholarsome"
        width="75%"
        height="75%"
      />
      <p class="text-secondary mt-3 mb-n1 mx-auto w-75">Connexion à l’instance Scholarsome fonctionnant à l’adresse {{appUrl}}</p>
    </div>
    <button type="button" class="btn-close close pull-right" aria-label="Close" *ngIf="publicAppEnv" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submit(loginForm)" #loginForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <label for="login-email" class="form-label">Adresse email</label>
        <input type="email" class="form-control" id="login-email" name="email" required ngModel>
        <div *ngIf="response === ApiResponseOptions.Error" class="form-text text-danger">Une erreur est survenue lors de la connexion.</div>
        <div *ngIf="response === ApiResponseOptions.Incorrect" class="form-text text-danger">L’adresse email ou le mot de passe est incorrect.</div>
        <div *ngIf="response === ApiResponseOptions.Ratelimit" class="form-text text-danger">Vous effectuez trop de requêtes. Veuillez réessayer plus tard.</div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="login-password" class="form-label">Mot de passe</label>
          <a class="form-text" (click)="modalRef?.hide(); modalService.modal.next('forgot-password-open')">Mot de passe oublié ?</a>
        </div>
        <input type="password" class="form-control" id="login-password" name="password" required ngModel>
        <div class="form-text recaptcha-text" *ngIf="recaptchaEnabled">Ce site est protégé par reCAPTCHA et les
          <a href="https://policies.google.com/privacy">Règles de confidentialité</a> et les
          <a href="https://policies.google.com/terms">Conditions d’utilisation</a> de Google s’appliquent.</div>
      </div>
      <div class="form-text text-center mb-3">Vous n’avez pas de compte ? <a [routerLink]="[]" (click)="modalRef?.hide(); modalService.modal.next('register-open')" class="text-primary">S’inscrire.</a></div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="clicked">
          <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Se connecter</button>
      </div>
    </form>
  </div>
</ng-template>