<ng-template #modal>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Sign up</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submit(registerForm)" #registerForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <label for="register-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="register-username" name="username" ngModel required>
        <div *ngIf="response === ApiResponseOptions.Error" class="form-text text-danger">There was an issue with registration.</div>
        <div *ngIf="response === ApiResponseOptions.Exists" class="form-text text-danger">That username or email already has an account.</div>
        <div *ngIf="response === ApiResponseOptions.Ratelimit" class="form-text text-danger">You are being rate limited.</div>
      </div>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="register-email" name="email" ngModel required>
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="register-password" name="password" ngModel required>
        <div class="form-text mb-3">By clicking sign up, I agree to Scholarsome's
          <a href="https://scholarsome.com/legal/terms">Terms of Service</a> and
          <a href="https://scholarsome.com/legal/privacy">Privacy Policy.</a></div>
        <div class="form-text">This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
      </div>
      <div class="form-text text-center mb-3">Already have an account? <a [routerLink]="[]" (click)="modalRef?.hide(); this.modalService.modal.next('login-open')" class="text-primary">Log in.</a></div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="clicked">
          <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Sign up</button>
      </div>
    </form>
  </div>
</ng-template>
