.set-card:hover {
  --bs-card-border-color: #8438ff;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a {
  color: inherit;
}

.spinner-border {
  width: 6rem;
  height: 6rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .sets {
    margin-left: 1.5rem;
  }

  .header {
    margin-left: 1rem;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .sets {
    margin-left: 2rem;
    margin-right: 0.5rem;
  }

  .header {
    margin-left: 1rem;
  }
}
