<nav class="navbar navbar-expand-lg bg-light navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="btn-group create-button" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Create <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="#"><fa-icon [icon]="faClone"></fa-icon> &nbsp;Study set</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <button type="button" class="btn btn-outline-light pr-6">
          Log in
        </button>
        <button type="button" class="btn btn-warning mr-1">
          Sign up
        </button>
      </div>
    </div>
  </div>
</nav>
