.navbar {
  background-color: #233f6f !important;
  box-shadow: black;
  filter: drop-shadow(0 0.4rem 0.25rem rgba(0, 0, 0, 0.2));
}

.navbar-brand {
  color: white;
}

.navbar-nav > li {
  padding-left:10px;
  padding-right:10px;
}

.navbar-nav > li > a:hover{
  filter: drop-shadow(0 0.4rem 0.25rem rgba(0, 0, 0, 0.6)) !important;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

//max-width: 768px

.navbar-brand {
  width: 9vw;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .create-button {
    margin-bottom: 1rem;
    width: 20%;
    height: 60px;
  }

  .navbar-nav > li{
    padding-top:5px;
    padding-bottom: 5px;
  }

  .navbar-brand {
    width: 30vw;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .create-button {
    margin-bottom: 1rem;
    width: 20%;
    height: 60px;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  .navbar-nav > li{
    padding-top:5px;
    padding-bottom: 5px;
  }

  .navbar-brand {
    width: 25vw;
  }
}
