<nav class="navbar navbar-expand-sm sticky-top bg-white fs-5 shadow-sm" [hidden]="hidden">
  <div class="container-fluid">
    <a [routerLink]="this.cookieService.get('authenticated') ? '/homepage' : ''"><img class="navbar-brand img-fluid mt-1" src="assets/header/scholarsome-logo-purple-lowercase.svg" alt="Scholarsome" width="10%" height="10%"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-black" aria-current="page" [attr.data-bs-toggle]="isMobile ? 'collapse' : ''" [attr.data-bs-target]="isMobile ? '#navbarSupportedContent' : ''" [routerLink]="this.cookieService.get('authenticated') ? '/homepage' : ''">Home</a>
        </li>
        <li class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle fs-5 h-100 w-25"
                  aria-controls="dropdown-basic">
            Create <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" [attr.data-bs-toggle]="isMobile ? 'collapse' : ''" [attr.data-bs-target]="isMobile ? '#navbarSupportedContent' : ''" (click)="!this.cookieService.get('authenticated') ? openModal(login) : ''" [routerLink]="this.cookieService.get('authenticated') ? 'create/set' : undefined"><fa-icon [icon]="['far', 'clone']"></fa-icon> &nbsp;Study set</a></li>
            <li><a class="dropdown-item" [attr.data-bs-toggle]="isMobile ? 'collapse' : ''" [attr.data-bs-target]="isMobile ? '#navbarSupportedContent' : ''" (click)="this.cookieService.get('authenticated')? openModal(quizletImportModal) : openModal(login)"><fa-icon [icon]="faQ" class="quizlet-color"></fa-icon> &nbsp;From Quizlet</a></li>
            <li><a class="dropdown-item" [attr.data-bs-toggle]="isMobile ? 'collapse' : ''" [attr.data-bs-target]="isMobile ? '#navbarSupportedContent' : ''" (click)="this.cookieService.get('authenticated')? openModal(ankiImportModal) : openModal(login)"><fa-icon [icon]="faStar" class="anki-color"></fa-icon> &nbsp;From Anki</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex align-items-baseline">
        <a *ngIf="window.location.hostname !== 'scholarsome.com' && updateAvailable" [href]="releaseUrl" target="_blank"><small class="d-inline-flex px-2 py-1 fw-semibold bg-warning text-bg-warning border border-warning-s rounded-2 text-decoration-underline me-2">New version is available</small></a>
        <span class="navbar-text me-3 fs-6">v{{packageJson.version}}</span>
        <span class="navbar-text me-2"><a href="https://github.com/hwgilbert16/scholarsome" target="_blank" class="github"><fa-icon [icon]="faGithub"></fa-icon></a></span>
        <div *ngIf="!signedIn">
          <button type="button" class="btn btn-outline-primary pr-6" (click)="openModal(login)">
            Log in
          </button>
          <button type="button" class="btn btn-primary ms-4 shadow" (click)="openModal(register)">
            Sign up
          </button>
        </div>
        <ul class="nav navbar-nav" *ngIf="signedIn">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black text-left" data-bs-toggle="dropdown"><fa-icon [icon]="['far', 'user']"></fa-icon></a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" [attr.data-bs-toggle]="isMobile ? 'collapse' : ''" [attr.data-bs-target]="isMobile ? '#navbarSupportedContent' : ''" (click)="submitLogout()"><fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<ng-template #login>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Log in</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submitLogin(loginForm)" #loginForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <label for="login-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="login-email" name="email" required ngModel>
        <div *ngIf="verificationResult" class="form-text text-success">Your email has been successfully verified. You may now login.</div>
        <div *ngIf="loginRes === ApiResponseOptions.Error" class="form-text text-danger">There was an issue with login.</div>
        <div *ngIf="loginRes === ApiResponseOptions.Incorrect" class="form-text text-danger">The email or password is incorrect.</div>
        <div *ngIf="loginRes === ApiResponseOptions.Ratelimit" class="form-text text-danger">You are being rate limited.</div>
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="login-password" class="form-label">Password</label>
          <a class="form-text" (click)="modalRef?.hide(); openModal(forgotModal)">Forgot?</a>
        </div>
        <input type="password" class="form-control" id="login-password" name="password" required ngModel>
        <div class="form-text recaptcha-text">This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
      </div>
      <div class="form-text text-center mb-3">Don't have an account? <a [routerLink]="[]" (click)="modalRef?.hide(); openModal(register)" class="text-primary">Sign up.</a></div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="loginClicked">
          <span *ngIf="loginClicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Log in</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #register>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Sign up</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submitRegister(registerForm)" #registerForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <label for="register-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="register-username" name="username" ngModel required>
        <div *ngIf="registrationRes === ApiResponseOptions.Success" class="form-text text-success">Thanks! You can now sign in.</div>
        <div *ngIf="registrationRes === ApiResponseOptions.Verify" class="form-text text-success">Thanks! Check your email for a message from us and click on the link to verify your account.</div>
        <div *ngIf="registrationRes === ApiResponseOptions.Error" class="form-text text-danger">There was an issue with registration.</div>
        <div *ngIf="registrationRes === ApiResponseOptions.Exists" class="form-text text-danger">That username or email already has an account.</div>
        <div *ngIf="registrationRes === ApiResponseOptions.Ratelimit" class="form-text text-danger">You are being rate limited.</div>
      </div>
      <div class="mb-3">
        <label for="register-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="register-email" name="email" ngModel required>
      </div>
      <div class="mb-3">
        <label for="register-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="register-password" name="password" ngModel required>
        <div class="form-text mb-3">By clicking sign up, I agree to Scholarsome's
          <a href="https://scholarsome.com/legal/terms">Terms of Service</a> and
          <a href="https://scholarsome.com/legal/privacy">Privacy Policy.</a></div>
        <div class="form-text">This site is protected by reCAPTCHA and the Google
          <a href="https://policies.google.com/privacy">Privacy Policy</a> and
          <a href="https://policies.google.com/terms">Terms of Service</a> apply.</div>
      </div>
      <div class="form-text text-center mb-3">Already have an account? <a [routerLink]="[]" (click)="modalRef?.hide(); openModal(login)" class="text-primary">Log in.</a></div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="registrationClicked">
          <span *ngIf="registrationClicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Sign up</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #forgotModal>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Forgot password</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="this.modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submitForgot(forgotForm)" #forgotForm="ngForm" ngNativeValidate>
      <div class="form-text mb-3">Enter your email address to send a password reset</div>
      <div class="mb-3">
        <label for="forgot-email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="forgot-email" name="email" ngModel required>
        <div *ngIf="forgotClicked" class="form-text text-success">If that email exists, we've sent a reset message.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="forgotClicked">Send password reset</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #setPassword>
  <div class="modal-header bg-white">
    <h4 class="modal-title pull-left">Set a new password</h4>
  </div>
  <div class="modal-body">
    <form class="mx-3" (ngSubmit)="submitSetPassword(setPasswordForm)" #setPasswordForm="ngForm" ngNativeValidate>
      <div class="form-text mb-3">Enter a new password for your account</div>
      <div class="mb-3">
        <label for="set-password" class="form-label">New password</label>
        <input type="password" class="form-control" id="set-password" name="password" ngModel required>
        <div *ngIf="setPasswordNotMatching" class="form-text text-danger">Your passwords do not match.</div>
      </div>
      <div class="mb-3">
        <label for="confirm-set-password" class="form-label">Confirm new password</label>
        <input type="password" class="form-control" id="confirm-set-password" name="confirmPassword" ngModel required>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="setPasswordClicked">Set new password</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #quizletImportModal>
  <div class="modal-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="col">
      <div class="row text-center">
        <fa-icon [icon]="faQ" class="quizlet-import-logo quizlet-color"></fa-icon>
        <div class="fs-3 mb-2">Import a study set from Quizlet</div>
        <div class="fs-6 text-secondary">If you've created a Quizlet set, you can import it to Scholarsome. Click <a href="https://help.quizlet.com/hc/en-us/articles/360034345672-Exporting-your-sets" target="_blank">here</a> to view how to export your sets.<br><br>Use the tab and semicolon options. Paste the set in the box below, and click import.</div>
      </div>
    </div>
    <hr>
    <form class="mt-3" (ngSubmit)="submitQuizletImport(quizletImportForm)" #quizletImportForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Enter a title for your study set..." maxlength="255" name="title" [disabled]="ankiImportClicked" ngModel required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="description" placeholder="Add a description..." [disabled]="quizletImportClicked" ngModel ngDefaultControl></textarea>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="quizletImportPrivateCheck" name="privateCheck" [disabled]="quizletImportClicked" ngModel>
        <label class="form-check-label" for="quizletImportPrivateCheck">Viewable only to me</label>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="6" name="importSet" placeholder="Paste in your exported set here..." [disabled]="quizletImportClicked" ngModel ngDefaultControl required></textarea>
        <div *ngIf="quizletImportRes === 'pattern'" class="form-text text-danger">Your exported set is not correctly formatted.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="quizletImportClicked">
          <span *ngIf="quizletImportClicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Import</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #ankiImportModal>
  <div class="modal-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="col">
      <div class="row text-center justify-content-center">
        <img src="assets/header/anki.jpeg" class="mb-2 anki-import-logo">
        <div class="fs-3 mb-2">Import a study set from Anki</div>
        <div class="fs-6 text-secondary">If you've created a set in Anki, you can import it to Scholarsome. Click <a href="https://docs.ankiweb.net/exporting.html#deck-apkg" target="_blank">here</a> to view how to export your sets as a .apkg file.<br><br>Note that, at the moment, only basic notes are supported.</div>
      </div>
    </div>
    <hr>
    <form class="mt-3" (ngSubmit)="submitAnkiImport(ankiImportForm)" #ankiImportForm="ngForm" ngNativeValidate>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Enter a title for your study set..." maxlength="255" name="title" [disabled]="ankiImportClicked" ngModel required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="description" placeholder="Add a description..." [disabled]="ankiImportClicked" ngModel ngDefaultControl></textarea>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="ankiImportPrivateCheck" name="privateCheck" [disabled]="ankiImportClicked" ngModel>
        <label class="form-check-label" for="ankiImportPrivateCheck">Viewable only to me</label>
      </div>
      <div class="mb-3">
        <input type="file" accept=".apkg" class="form-control" name="file" (change)="onAnkiFileUpload($event)" [disabled]="ankiImportClicked" ngModel required>
        <div *ngIf="ankiImportRes === 'incompatible'" class="form-text text-danger">The note types in this .apkg are not currently compatible with Scholarsome.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="ankiImportClicked">
          <span *ngIf="ankiImportClicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Import</button>
      </div>
    </form>
  </div>
</ng-template>
