.spinner-border {
  width: 6rem;
  height: 6rem;
}

a {
  color: inherit;
}

.card:hover {
  --bs-card-border-color: #8438ff;
  --bs-card-color: black;
  cursor: pointer;
}

.avatar {
  border-radius: 100px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .profile-container {
    width: 100%;
  }

  .set-card {
    width: 100%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 7680px) {
  .profile-container {
    width: 75%;
  }

  .set-card {
    width: 50%;
  }
}
