<ng-template #modal>
  <div class="modal-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="col">
      <div class="row text-center">
        <fa-icon [icon]="faQ" class="quizlet-import-logo quizlet-color"></fa-icon>
        <div class="fs-3 mb-2">
          Import a study set from Quizlet
          <a href="/handbook/usage/creating-sets#importing-from-quizlet" target="_blank" class="text-decoration-none help-button"><fa-icon [icon]="faQuestionCircle" class="fs-5"></fa-icon></a>
        </div>
        <div class="fs-6 text-secondary">If you've created a Quizlet set, you can import it to Scholarsome. Click <a href="https://help.quizlet.com/hc/en-us/articles/360034345672-Exporting-your-sets" target="_blank">here</a> to view how to export your sets.<br><br>Use the tab and semicolon options. Paste the set in the box below, and click import.</div>
      </div>
    </div>
    <hr>
    <form class="mt-3" (ngSubmit)="submit(form)" #form="ngForm" ngNativeValidate>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Enter a title for your study set..." maxlength="255" name="title" [disabled]="clicked" ngModel required>
      </div>
      <div class="mb-3">
        <textarea class="form-control" name="description" placeholder="Add a description..." [disabled]="clicked" ngModel ngDefaultControl></textarea>
      </div>
      <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="quizletImportPrivateCheck" name="privateCheck" [disabled]="clicked" ngModel>
        <label class="form-check-label" for="quizletImportPrivateCheck">Viewable only to me</label>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="6" name="importSet" placeholder="Paste in your exported set here..." [disabled]="clicked" ngModel ngDefaultControl required></textarea>
        <div *ngIf="response === 'pattern'" class="form-text text-danger">Your exported set is not correctly formatted.</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="clicked">
          <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Import</button>
      </div>
    </form>
  </div>
</ng-template>
