<div
  class="p-2 alert alert-warning d-flex align-items-center justify-content-center"
  role="alert"
>
  <div class="mx-2">
    {{result.message==='' ? "Please verify your account by clicking on the link in the verification email." : "The verification email has been resent."}}
  </div>
  <button class="btn btn-sm btn-warning mx-2" (click)="onClick()" [disabled]="clicked" *ngIf="result.message===''">
    <span *ngIf="clicked" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    {{clicked ? 'sending' : 'resend email'}}
  </button>
</div>
